.contact-page{
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/793/308/original/abstract-background-free-vector.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contact-page{
    background-color: lightgoldenrodyellow;
}