.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('./back.avif'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}